
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right">$25</h4>
            <h4>
                <a href="#">First Product</a>
            </h4>
            <p>this is a description.</p>
        </div>
        <div class="row" style="padding:7px">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="pull-left col-md-4">
                    <button type="submit" class="form-control btn btn-primary">Add to Cart</button>
                </div>
                <div class="col-md-8">
                    <input type="hidden" name="Id" value="1" />
                    <input type="hidden" name="Price" value="25" />
                    <input type="hidden" name="Name" value="First Product" />
                    <input name="Amount" type="number" class="form-control" />
                </div>
            }
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right">$10</h4>
            <h4>
                <a href="#">Seconed Product</a>
            </h4>
            <p>this is a description.</p>
        </div>
        <div class="row" style="padding:7px">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="pull-left col-md-4">
                    <button type="submit" class="form-control btn btn-primary">Add to Cart</button>
                </div>
                <div class="col-md-8">
                    <input type="hidden" name="Id" value="2" />
                    <input type="hidden" name="Price" value="10" />
                    <input type="hidden" name="Name" value="Seconed Product" />
                    <input name="Amount" type="number" class="form-control" />
                </div>
            }
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right">$15</h4>
            <h4>
                <a href="#">Third Product</a>
            </h4>
            <p>this is a description.</p>
        </div>
        <div class="row" style="padding:7px">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="pull-left col-md-4">
                    <button type="submit" class="form-control btn btn-primary">Add to Cart</button>
                </div>
                <div class="col-md-8">
                    <input type="hidden" name="Id" value="3" />
                    <input type="hidden" name="Price" value="15" />
                    <input type="hidden" name="Name" value="Third Product" />
                    <input name="Amount" type="number" class="form-control" />
                </div>
            }
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right">$30</h4>
            <h4>
                <a href="#">Forth Product</a>
            </h4>
            <p>this is a description.</p>
        </div>
        <div class="row" style="padding:7px">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="pull-left col-md-4">
                    <button type="submit" class="form-control btn btn-primary">Add to Cart</button>
                </div>
                <div class="col-md-8">
                    <input type="hidden" name="Id" value="4" />
                    <input type="hidden" name="Price" value="30" />
                    <input type="hidden" name="Name" value="Forth Product" />
                    <input name="Amount" type="number" class="form-control" />
                </div>
            }
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right">$50</h4>
            <h4>
                <a href="#">Fifth Product</a>
            </h4>
            <p>this is a description.</p>
        </div>
        <div class="row" style="padding:7px">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="pull-left col-md-4">
                    <button type="submit" class="form-control btn btn-primary">Add to Cart</button>
                </div>
                <div class="col-md-8">
                    <input type="hidden" name="Id" value="5" />
                    <input type="hidden" name="Price" value="50" />
                    <input type="hidden" name="Name" value="Fifth Product" />
                    <input name="Amount" type="number" class="form-control" />
                </div>
            }
        </div>
    </div>
</div>



